#users-all
  %br
  %h4
  = user.full_name
  %strong Емейл користувача
  = user.email
  %br
  %strong Username
  = user.username
  %br
  %strong birthday
  = user.birthday
  %br
  %strong Country
  = user.country
  %br
  %strong State
  = user.state
  %br
  %strong city
  = user.city
  %br
  %strong address
  = user.address
  %br
  = user.latitude
  = user.longitude

