#users-all
  %b user admin?
  = user.admin
  %b user moderator?
  = user.moderator
  %br
  %h4
  = link_to "#{user.full_name}", user_path(user.id)
  %strong Емейл користувача
  = user.email
  %br
  %strong Username
  = user.username
  %br
  %strong birthday
  = user.birthday
  %br
  %strong Country
  = user.country
  %br
  %strong State
  = user.state
  %br
  %strong city
  = user.city
  %br
  %strong address
  = user.address
  %br
  = user.latitude
  = user.longitude
  - if current_user.admin?
    = link_to 'Редагувати користувача', edit_user_path(user.id)
