%h1 Профіль
%h1
  = @user.username

%h3
  = @user.full_name
%h3
  = @user.email
%h3
  = @user.country
%h3
  = @user.address
%h3
  = @user.state
%h3
  = @user.city
%h3
  = @user.birthday
%h3
  = @user.full_name