%br
= advert.title
= advert.body
= advert.user.email if advert.user.email.present?
= link_to 'детальніше', advert_path(advert)
= link_to "#{advert.user.username}", user_path(advert.user.id)
- if user_signed_in? &&( advert.user.email == current_user.email or current_user.admin?)
  = link_to 'редагувати', edit_advert_path(advert)
  = link_to 'видалити', advert_path(advert), method: :delete, data: {confirm: "Are you sure?"}
%br
