=form_for @advert , html: { multipart: true }do |f|
  = f.error_messages
  = f.label :title , 'Заголовок'
  %br
  = f.text_field :title
  %br
  = f.label :summary , 'Короткий опис'
  %br
  .summary= f.text_area :summary
  %br
  %br
  = f.label :body, 'Текст'
  .editor= f.text_area :body
  = f.file_field :image

  .submit-create-question= f.submit  'Створити'
  = link_to 'Назад', root_path
- if user_signed_in? &&(@advert.user.email == current_user.email or current_user.admin? or current_user.moderator?)
  = link_to 'видалити', advert_path(@advert), method: :delete, data: {confirm: "Are you sure?"}
