=form_for @advert , html: { multipart: true }do |f|
  = f.error_messages
  = f.label :title
  = f.text_field :title
  %br
  %br
  = f.label :body
  = f.text_area :body
  = f.file_field :image

  .submit-create-question= f.submit  'Створити'
  = link_to 'Назад', root_path
