= link_to 'Створити оголошення', new_advert_path
%br
- @adverts.each do |advert|
 = advert.title
 = advert.body
 = link_to 'детальніше', advert_path(advert)
 = link_to 'редагувати', edit_advert_path(advert)
 %br