.advert
    %h1 Оголошення
    = @advert.title
    = @advert.body
    = @advert.user.email
    = image_tag @advert.image.url(:large) if @advert.image?
    .comments
        =render 'comments/list'


    = link_to 'Назад', adverts_path
