%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Task
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    .container
      = render 'shared/header'
      %p.notice= notice
      %p.alert= alert
      .hello
        - if user_signed_in?
          %h3 Ласкаво просимо
          %h2= current_user.username
          - if current_user.admin?
            %b admin
          -elsif current_user.moderator?
            %b moderator
        - else
          %h3 Гість
      = yield
      = render 'shared/footer'
