!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Task
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p.notice= notice
    %p.alert= alert
    - if user_signed_in?
      = link_to 'sign_out',  destroy_user_session_path, method: :delete
      Ласкаво просимо
      = current_user.username
      = link_to 'Редагувати профіль', edit_user_registration_path
    - else
      = link_to 'sign_in',  new_user_session_path
      = link_to 'Login',  new_user_registration_path
      Гість
    = yield
